In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
15082,-116.94,32.80,28.0,3042.0,729.0,1964.0,703.0,2.4141,137500.0,<1H OCEAN
127,-122.21,37.84,44.0,3424.0,597.0,1358.0,597.0,6.0194,292300.0,NEAR BAY
11087,-117.90,33.83,33.0,3065.0,611.0,2204.0,606.0,3.8456,211800.0,<1H OCEAN
2170,-119.89,36.79,5.0,3821.0,705.0,2179.0,694.0,3.7821,80400.0,INLAND
11875,-117.36,34.00,19.0,4592.0,895.0,2769.0,838.0,3.3622,105100.0,INLAND

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [6]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [7]:
housing_data.shape

(19475, 10)

In [8]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [10]:
median = housing_data['median_house_value'].median()

median

173800.0

In [11]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [12]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
14981,-116.99,32.72,15.0,825.0,130.0,334.0,131.0,4.0391,169500.0,1,0,0,0,0,False
7626,-118.27,33.86,29.0,2587.0,489.0,2115.0,475.0,3.7466,168600.0,1,0,0,0,0,False
9668,-119.44,38.53,20.0,1963.0,434.0,682.0,273.0,1.5817,97800.0,0,1,0,0,0,False
13359,-117.66,34.02,12.0,5616.0,871.0,3019.0,782.0,5.5425,202300.0,0,1,0,0,0,True
13577,-117.28,34.13,44.0,2469.0,568.0,1363.0,517.0,1.8396,77100.0,0,1,0,0,0,False

In [14]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [15]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [17]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [18]:
print("Training score: ", logistic_model.score(x_train, y_train))

Training score:  0.8205391527599486

In [19]:
y_pred = logistic_model.predict(x_test)

In [20]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
7249       False    True
20278       True    True
1429        True   False
10969       True    True
16030       True    True
8394        True    True
13010      False   False
14014       True    True
6302       False    True
5496       False    True